<div class="container">

  <div class="row">
    <mat-grid-list cols="3" rowHeight="4:4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <img src="https://5.imimg.com/data5/JM/QA/MY-8644468/guitar-500x500.jpg" class="card-img-top">
          <h5 class="card-title">Gitár ID: {{guitar._id}}</h5>
          <p class="card-text">Márka: {{guitar.brand}}</p>
          <p class="card-text">Név: {{guitar.name}}</p>
          <p class="card-text">Ár: {{guitar.price}}</p>
        </div>
      </div>
    </mat-grid-list>
  </div>
</div>
